<footer class="md:left-vertical-menu absolute right-0 bottom-0 px-4 h-14 left-0 border-t py-3 flex items-center ">
    <div class="w-full">
        <div class="grid items-center grid-cols-1 text-center lg:grid-cols-2 text-slate-400 lg:text-left ">
          <div>
            <u>Genify</u>
            :
              Transform class diagrams into full-stack projects effortlessly.
            </div>
            <div class="hidden lg:block">
                <div class="text-right">
                  {{year}} © Genify.
                </div>
            </div>
        </div>
    </div>
</footer>
