<div class="col-span-12 md:order-8 2xl:col-span-9 card">
  <div class="card-body">
    <div class="grid items-center grid-cols-1 gap-3 mb-5 xl:grid-cols-12">
      <div class="xl:col-span-3">
        <h6 class="text-15">Manage Joueur</h6>
      </div><!--end col-->
      <div class="xl:col-span-4 xl:col-start-10">
        <div class="flex justify-end gap-3">
          <button type="button" [appModalTrigger]="'JoueurModal'" class="text-custom-500 btn bg-custom-100 hover:text-white hover:bg-custom-600 focus:text-white focus:bg-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:ring active:ring-custom-100">
            {{ selectedJoueur? 'Edit ' + Joueur : 'Add ' + className }}
          </button>
        </div>
      </div>
    </div><!--end grid-->
    <div class="-mx-5 overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <thead class="bg-slate-100 text-slate-500">
          <tr>
            <th class="text-left px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200">Idjoueur</th>
            <th class="text-left px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200">Nomjoueur</th>
            <th class="text-left px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200">Poste</th>
            <th class="text-left px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200">Equipe ID</th>
            <th class="text-left px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of joueurList()">
            <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200">{{ item.idjoueur }}</td>
            <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200">{{ item.nomjoueur }}</td>
            <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200">{{ item.poste }}</td>
            <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200">{{ item.equipeId }}</td>
            <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 ">
              <div class="flex gap-2 ">
                  <a [appModalTrigger]="'"Joueur"Modal'" (click)="onEdit(item)" class="flex items-center justify-center size-8 transition-all duration-200 ease-linear rounded-md bg-slate-100  text-slate-500 hover:text-custom-500  hover:bg-custom-100">Edit
                      <lucide-angular name="pencil" [class]="'size-4'"></lucide-angular>
                  </a>
                  <a class="flex items-center justify-center size-8 transition-all duration-200 ease-linear rounded-md bg-slate-100  text-slate-500 hover:text-custom-500  hover:bg-custom-100">Edit
                      <lucide-angular name="trash-2" [class]="'size-4'"></lucide-angular>
                  </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--end table-->
  </div><!--end card-body-->
</div><!--end card-->
<ng-modals id="JoueurModal" [placement]="'modal-center'" className="fixed flex flex-col transition-all duration-300 ease-in-out left-2/4 z-drawer -translate-x-2/4 -translate-y-2/4">
  <div class="w-[93vw] md:w-[32rem] bg-white shadow rounded-md">
    <div class="flex items-center justify-between p-5 border-b">
      <h5 class="text-16 font-medium">Add Arbitre</h5>
      <button dismissModal [ModalDismiss]="'arbitreModal'" class="transition-all duration-200 ease-linear text-slate-400 hover:text-red-500">
        <lucide-angular name="x" [class]="'size-5'"></lucide-angular>
      </button>
    </div>
    <div class="max-h-[calc(theme('height.screen')_-_180px)] p-5 overflow-y-auto">
      <form [formGroup]="joueurForm" class="grid grid-cols-1 xl:grid-cols-12 gap-x-5">
        <div class="xl:col-span-12 grid gap-4 mb-3">
          <div>
            <label class="inline-block mb-2 text-base text-slate-800 font-medium">Idjoueur</label>
            <input type="text" [class]="{'!border-red-500': joueurForm.get('idjoueur')?.invalid && joueurForm.get('idjoueur')?.touched}" class="input form-input w-full border-slate-200 focus:outline-none focus:border-custom-500" formControlName="idjoueur" placeholder="idjoueur" required>
            <div *ngIf="joueurForm.get('idjoueur')?.invalid && (joueurForm.get('idjoueur')?.dirty || joueurForm.get('idjoueur')?.touched)" class="mt-1 text-sm text-red-500">
              Please enter your idjoueur.
            </div>
          </div>
          <div>
            <label class="inline-block mb-2 text-base text-slate-800 font-medium">Nomjoueur</label>
            <input type="text" [class]="{'!border-red-500': joueurForm.get('nomjoueur')?.invalid && joueurForm.get('nomjoueur')?.touched}" class="input form-input w-full border-slate-200 focus:outline-none focus:border-custom-500" formControlName="nomjoueur" placeholder="nomjoueur" required>
            <div *ngIf="joueurForm.get('nomjoueur')?.invalid && (joueurForm.get('nomjoueur')?.dirty || joueurForm.get('nomjoueur')?.touched)" class="mt-1 text-sm text-red-500">
              Please enter your nomjoueur.
            </div>
          </div>
          <div>
            <label class="inline-block mb-2 text-base text-slate-800 font-medium">Poste</label>
            <input type="text" [class]="{'!border-red-500': joueurForm.get('poste')?.invalid && joueurForm.get('poste')?.touched}" class="input form-input w-full border-slate-200 focus:outline-none focus:border-custom-500" formControlName="poste" placeholder="poste" required>
            <div *ngIf="joueurForm.get('poste')?.invalid && (joueurForm.get('poste')?.dirty || joueurForm.get('poste')?.touched)" class="mt-1 text-sm text-red-500">
              Please enter your poste.
            </div>
          </div>
          <div>
            <label>Select Equipe</label>
            <select class="form-select border-slate-200 focus:outline-none focus:border-custom-500" formControlName="equipeId">
              <option *ngFor="let item of equipeList" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="border-t flex justify-end gap-2 p-5">
      <button dismissModal [ModalDismiss]="'arbitreModal'" class="text-red-500 bg-white py-2 px-4 btn hover:text-red-500 hover:bg-red-100">Cancel</button>
      <button (click)="onSubmit()" type="submit" class="text-white bg-custom-500 border-custom-500 hover:bg-custom-600 focus:bg-custom-600 py-2 px-4 btn">
        {{ selectedArbitre ? 'Modifier' : 'Add' }}
      </button>
    </div>
  </div>
</ng-modals>
