<div
		class="app-menu w-vertical-menu bg-vertical-menu border-r border-vertical-menu-border fixed bottom-0 top-0 z-[1003] transition-all duration-75 ease-linear hidden md:block">

	<div
			class="flex items-center justify-center px-5 text-center h-header ">
		<a routerLink="/">
			<span class="group-data-[sidebar-size=sm]:hidden">
                <img src="assets/logo-dark.png" alt="" class="h-6 mx-auto">
            </span>
		</a>

	</div>
		<ngx-simplebar>
			<ngx-simplebar id="scrollbar"
					class="max-h-[calc(100vh_-_theme('spacing.header')_*_1.2)] h-56 md:h-auto overflow-auto md:overflow-visible max-w-screen-2xl mx-auto">

				<ul id="navbar-nav">
					@for(item of menuItems;track $index){
						<li class="relative group-data-[layout=horizontal]:shrink-0 group/sm">
							<a routerLinkActive="active" [routerLink]="item.link"
									class="text-vertical-menu-item relative flex items-center  mx-3 my-1 group/menu-link text-vertical-menu-item-font-size font-normal transition-all duration-75 ease-linear rounded-md py-2.5  hover:text-vertical-menu-item-hover hover:bg-vertical-menu-item-bg-hover [&.active]:text-vertical-menu-item-active [&.active]:bg-vertical-menu-item-bg-active  ">

								<span
										class="pl-5 align-middle  group-data-[sidebar-size=sm]:hidden">{{item.label }}</span>
							</a>

						</li>
					}
				</ul>
			</ngx-simplebar>
		</ngx-simplebar>

</div>
<div id="sidebar-overlay" class="absolute inset-0 z-[1002] bg-slate-500/30 hidden" (click)="hideSidebar()"></div>
