<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Untitled_1_angular</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/arbitre" routerLinkActive="active" ariaCurrentWhenActive="page">
            arbitre
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/match" routerLinkActive="active" ariaCurrentWhenActive="page">
            match
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/equipe" routerLinkActive="active" ariaCurrentWhenActive="page">
            equipe
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/joueur" routerLinkActive="active" ariaCurrentWhenActive="page">
            joueur
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stade" routerLinkActive="active" ariaCurrentWhenActive="page">
            stade
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>